# Credenciais do Telegram
TELEGRAM_BOT_TOKEN=seu_token_aqui

# Credenciais da OpenWeather
OPENWEATHER_API_KEY=sua_chave_aqui

# Credenciais do Google Gemini (Opcional)
GOOGLE_GEMINI_API_KEY=sua_chave_aqui
